<br>
<form action="/search" method="post" id="search-form">
  <div class="input-group col-md-4">
    <input class="form-control py-2 border-right-0 border" type="text" placeholder="szukaj" name="search" id="search">
    <span class="input-group-append">
      <button class="btn btn-outline-secondary border-left-0 border" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
<% products.forEach(function(productChunk){ %>
<div class="row">
  <% productChunk.forEach(function(product){%>
  <div class="card" style="width: 18rem;">
    <img src="<%- product.imagePath %>" class="card-img-top" alt="<%- product.title %>">
    <div class="card-body">
      <h5 class="card-title">
        <%- product.title %>
      </h5>
      <p class="card-text">
        <%- product.description %>
      </p>
      <a href="/add-to-cart/<%= product._id %>" class="btn btn-primary">Dodaj do koszyka</a>
    </div>
  </div>
  <% }); %>
</div>
<% }); %>